{
  "http": {
    "listen": "127.0.0.1:9001",
    "tls": false,
    "listeners": {
      "generic": {
        "secret": "__IRCCAT_BEARER_TOKEN__",
        "strict": true
      }
    }
  },
  "irc": {
    "server": "{{ server_name }}:6697",
    "tls": true,
    "nick": "irccat",
    "realname": "IRCCat",
    "sasl_user": "irccat",
    "sasl_pass": "__IRCCAT_PASSWORD__",
    "channels": ["#analyze-this"]
  }
}
