{
  "http": {
    "listen": "127.0.0.1:9001",
    "tls": false,
    "listeners": {
      "generic": {
        "secret": "{{ server_password.stdout }}",
        "strict": true
      }
    }
  },
  "irc": {
    "server": "{{ server_name }}:6697",
    "tls": true,
    "nick": "irccat",
    "realname": "IRCCat",
    "sasl_user": "irccat",
    "sasl_pass": "{{ irccat_password.stdout }}",
    "channels": ["#analyze-this"]
  }
}
